Repository carpentries-lab/deep-learning-intro, pull requests merged in 2025-01, with the labels that each got.

#527 Update Workflows to Version 0.16.10
  .github/workflows/README.md
  .github/workflows/pr-close-signal.yaml
  .github/workflows/pr-comment.yaml
  .github/workflows/pr-post-remove-branch.yaml
  .github/workflows/pr-preflight.yaml
  .github/workflows/pr-receive.yaml
  .github/workflows/sandpaper-main.yaml
  .github/workflows/sandpaper-version.txt
  .github/workflows/update-cache.yaml
  .github/workflows/update-workflows.yaml
Labels: type: template and tools

#546 Fix bullet list
  episodes/2-keras.Rmd
Labels: type:formatting, high priority, Episode 2

#543 Replace tensorflow-metal installation instructions
  learners/setup.md
Labels: type:bug, high priority

#544 Add link to episode 5.
  episodes/2-keras.Rmd
Labels: type:enhancement, Episode 2
